.badge-line {
  display: flex;
  flex-direction: flex-start;
  align-items: baseline;

  margin-bottom: 1rem;
}

.badge {
  padding: 0.4rem;

  &__main {
    margin-left: 0.4rem;

    &--thriller {
      background-color: map-get($color-genre, thriller);
    }
  }

  &__next {
    &--crime-caper {
      background-color: map-get($color-sub-genre, crime-caper);
    }
  }

  &__right {
    // margin-left: 3rem;
    background-color: map-get($color-main, grey-dark);
  }
}
