.emoji {
  &__collection {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__story--small {
    font-size: 2.5rem;
    font-family: Openemonji, Firefoxemoji, OpenSansEmoji, Symbola;
  }
}

.div {
  &__emoji {
    font-size: 5rem;
    font-family: Openemonji, Firefoxemoji, OpenSansEmoji, Symbola;
  }
}
