.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    text-decoration: none;
    color: map-get($color-main, m-black);

    &:not(:last-child) {
      margin-right: 10rem;
    }

    &:link,
    &:visited {
      color: map-get($color-main, m-black);
    }
  }
}
